<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏔</text></svg>">
    <title>Peaks | A Tiny List Project By Henry Desroches</title>
    <meta name="description"
        content="A simple list project to track my summiting of the 58 fourteen-thousand-foot peaks in Colorado.">
    <meta name="theme-color" content="#284135" />
    <meta name="twitter:site" content="@xdesro" />
    <meta name="twitter:title" content="Peaks | A Tiny List Project By Henry Desroches" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description"
        content="A simple list project to track my summiting of the 58 fourteen-thousand-foot peaks in Colorado." />
    <meta name="twitter:image" content="https://peaks.henry.codes/meta/og-default.jpg" />
</head>

<body>
    {{ content }}
</body>

</html>