.intro {
  margin-bottom: 7.5rem;

  @include screen(lg) {
    grid-column: 1 / span 10;
  }
  @include screen(xl) {
    grid-column-start: 2;
  }
  &__link {
    display: inline-block;
    margin-bottom: 4rem;
  }
  &__meta {
    font-family: $font-sans;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: $color-neutral-mid;
    dt,
    dd {
      display: inline-block;
    }
    &-value {
      &--accent {
        color: $color-neutral;
      }
    }
  }
  &__headline {
    color: $color-neutral-mid;
    em {
      font-style: normal;
      color: $color-neutral;
    }
    sub {
      font-size: 0.5em;
      color: $color-neutral-mid;
    }
    > :is(h1, p) {
      font-size: 2rem;
      line-height: 1.3;
      display: inline;

      @include screen(lg) {
        font-size: 3rem;
      }
    }
  }
}
